/* Aggressive restriction of parent visibility in a moment of print */
@media print {
  body {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    background: none !important;
    overflow: hidden !important;
    opacity: unset !important;
    visibility: unset !important;
    display: unset !important;
    position: unset !important;
  }

  body *:not(wanted-print-form):not(style):not(script) {
    opacity: unset !important;
    display: unset !important;
    visibility: hidden !important;
  }
}
